.slider-container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 500px;
  border-radius: 15px;
}
.arrow-left {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 2rem;
  color: black;
  z-index: 10;
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 2rem;
  color: black;
  z-index: 10;
}

.slide {
  transition-duration: 3s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
  transform: scale(1.08);
}
